extends layout

mixin image(file, caption, alt)
  .photo
    img(
      sizes="(min-width: 36em) 90.0vw, 100vw"
      data-src="img/photos/1280/"+file
      data-srcset="img/photos/320/"+file+" 320w, img/photos/640/"+file+" 640w, img/photos/1280/"+file+" 1280w, img/photos/1920/"+file+" 1920w"
      class="lazyload"
      alt=alt
      src="img/photos/640/"+file
      )
    .caption
      p=caption

block content
  #photos
    +image('trinidad_detroit_2015_iain_maitland.png', '', 'scrapping detroit')
    .caption
      a(href="http://nobudge.com/main/trinidad")
        p Trinidad, 32mins, HD, 2015.
  #footer
