extends infobox

mixin vimeo(vimeourl, caption, reviewurl, reviewlinktext)
  vimeo
    .vimeo-container
      iframe(
        src=vimeourl
        width="640"
        height="360"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        )
    .caption
      p=caption
      p
        a(href=reviewurl)=reviewlinktext


block photos
  #photos
    +vimeo('https://player.vimeo.com/video/126847632?portrait=0', 'Trinidad', 'http://nobudge.com/main/trinidad', 'Review on NoBudge.com')
    +vimeo('https://player.vimeo.com/video/30456154?portrait=0', 'Plastic Wrap Lol', '')
    +vimeo('https://player.vimeo.com/video/40875161?portrait=0', 'King Band Interviews', '')
    +vimeo('https://player.vimeo.com/video/32875713?portrait=0', "Jane - It's a fine day - Official", '')
    +vimeo('https://player.vimeo.com/video/35889749?portrait=0', 'Every Advert Ever Made', '')
    +vimeo('https://player.vimeo.com/video/36625574?portrait=0', 'The Profile', '')
