extends infobox

mixin image(file, caption, alt)
  photograph
    img(
      sizes="(min-width: 36em) 90.0vw, 100vw"
      data-src="img/photos/320/"+file
      data-srcset="img/photos/320/"+file+" 320w, img/photos/640/"+file+" 640w, img/photos/1280/"+file+" 1280w, img/photos/1920/"+file+" 1920w"
      class="lazyload blur-up"
      alt=alt
      src="img/photos/320/"+file
      )
    description
      p=caption

block photos

  #photos
    +image('ant_with_dead_swan_detroit_2015_iain_maitland.jpg', 'Ant with a Dead Swan on Belle Isle.', 'belle isle dead swan detroit')
    +image('night_horse_cambridge_2009_iain_maitland.jpg', 'Horse at night.', 'horse')
    +image('pylon_2014_iain_maitland.jpg', 'Pylon.', 'iain maitland painting detroit graffiti')
    +image('kid_in_foreclosed_home_detroit_2016_iain_maitland.jpg', 'Kid in a foreclosed house, 2016.', 'house forclosure detroit')
    +image('in_a_foreclosed_house_2016_iain_maitland.jpg', 'Mother and daughter in a foreclosed house, 2016.', 'house forclosure detroit')
    +image('captured_seagul_point_pellee_canada_2013_iain_maitland.jpg', 'A Sea Gull.', 'seagull')
    +image('street_crossing_2_2017_iain_maitland.jpg', 'Hacked Street Crossing.', 'street night detroit')
    +image('house_fire_2013_iain_maitland.jpg', 'A housefire in South West Detroit seen from the Renaissance Center.', 'fire detroit renaissance center')
    +image('dracula_2013_iain_maitland.jpg', 'Filer Head.', 'painting detroit graffiti')
    +image('the_boys_in_inkster_iain_maitland_2016.jpg', 'Asked me to take a picture like this.', 'inkster detroit')
    +image('water_detroit_2013_iain_maitland.jpg', 'A man takes water from a broken fire hydrant.', 'detroit water shutoff closure stealing')
    +image('deshaun_fire_iain_maitland_light_2018.jpg', "DeShaun's quad on fire.", 'fire detroit atv motorbike')
    +image('scrappers_cart_detroit_2017_iain_maitland.jpg', "Scrapper's Cart.", 'scrap scrapper metal detroit')
    +image('6_mile_2015_iain_maitland.jpg', 'McNichols Head 3.', 'painting detroit graffiti')
    +image('painted_house_detroit_2013_iain_maitland.jpg', 'Painted House.', 'painted house graffiti detroit')
    +image('m_leaning_detroit_2013_iain_maitland.jpg', 'S, Leaning over the edge.', 'detroit')
    +image('all_the_dead_dogs_in_detroit_iain_maitland_2016.jpg', 'All the dead dogs I have found in Detroit.', 'dog skulls detroit')
    +image('ashley_outside_motel_2016_iain_maitland.jpg', 'Ashley waiting for Johns outside the Fontaine Motel on Woodward.', 'motel woodward trans')
    +image('ashley_with_john_2016_iain_maitland.jpg', 'Ashley with a John at the Motel on Woodward.', 'motel woodward trans')
    +image('ram_grill_2016_iain_maitland.jpg', 'Ram Grill.', 'Frozen Dodge Ram Ice')
    +image('gable_fire_2017_iain_maitland_2.jpg', 'Lyman - next door on fire.', 'Detroit fire')
    +image('baltimore_2015_iain_maitland.jpg', 'McNichols Head 2.', 'painting detroit graffiti')
    +image('rook_on_shoulder_norfolk_2010_iain_maitland.jpg', 'Pet Rook.', 'Pet Rook Norfolk')
    +image('sense_of_death_2015_detroit_iain_maitland.jpg', 'Execute Cop Killers, Dead Rottweiler.', 'Detroit Dead dogs, Rottweiler.')
    +image('bearded_man_2015_iain_maitland.jpg', 'Recycle Center Head.', 'painting detroit graffiti')
    +image('j_detroit_2014_iain_maitland.jpg', 'J on top of a building.', 'shadow detroit')
    +image('liquor_store_pickles_2012_iain_maitland.jpg', 'Liquor store pickles.', 'liquor store detroit')
    +image('woodsman_2014_iain_maitland.jpg', 'Naked Man.', 'painting detroit graffiti')
    +image('national_theater_detroit_2012_iain_maitland.jpg', 'National Theater, Downtown Detroit.', 'National Theater Detroit Downtown')
    +image('empty_scrap_yard_detroit_2013_iain_maitland.jpg', 'A scrap yard.', 'scrapyard detroit')
    +image('woodward_man_2015_iain_maitland.jpg', 'Woodward Head.', 'painting detroit graffiti')
    +image('empty_houses_detroit_2012_iain_maitland.jpg', 'Empty Houses.', 'detroit house')
    +image('shaved_head_detroit_2011_iain_maitland.jpg', 'After getting head shaved, Detroit.', 'shaved head')
    +image('varney_head_2015_iain_maitland.jpg', 'Varney Head.', 'painting detroit graffiti')
    +image('pigeon_shit_detroit_2014_iain_maitland.jpg', 'Pigeon Guano in a bathroom in an abandoned building.', 'pigeons inside')
    +image('chinese_restaurant_detroit_iain_maitland_2016.jpg', 'Old Chinese restaurant.', 'chinese restauraunt')
    +image('trucker_2014_iain_maitland.jpg', 'Trucker.', 'painting detroit graffiti')
    +image('racoons.jpg', 'Some racoons in an abandoned building.', 'racoons')
    +image('9mm_lorcin_in_the_trash_detroit_2016_iain_maitland.jpg', 'A Lorcin 9mm pistol found in the trash.', 'Lorcin 9mm Detroit')
    +image('racoons_for_sale_detroit_2015_iain_maitland.jpg', 'Raccoons for sale. .', 'Raccoons Detroit.')
    +image('ashley_voguing_2016_iain_maitland.jpg', 'Ashley in the street.', 'voguing detroit trans')
    +image('marijuana_plant_detroit_2013_iain_maitland.jpg', 'A marijuna plant found in a vacant lot.', 'marijuana detroit')
    +image('gorilla_pod_2014_iain_maitland.jpg', 'Gorilla Pod.', 'painting detroit graffiti')
    +image('leaning_over_2014_detroit_iain_maitland.jpg', 'Leaning over on a roof.', 'detroit')
    +image('hamtramck_football_2015_iain_maitland.jpg', 'Ice Box and a Yemani kid in Hamtramck.', 'hamtramck detroit yeman yemani')
    +image('abandoned_school_detroit_2015_iain_maitland.jpg', 'An abandoned school.', 'abandoned school detroit')
    +image('flow_2014_iain_maitland.jpg', 'McNichols Head.', 'painting detroit graffiti')
    +image('hoodie_detroit_2011_iain_maitland.jpg', 'Kid in a hoodie and some graffiti.', 'detroit')
    +image('brewster_housing_detroit_2013_iain_maitland.jpg', 'Brewster Projects.', 'Brewster projects detroit')
    +image('gratiot_breakdown_2012_iain_maitland.jpg', 'Run out of gas on Gratiot.', 'gratiot detroit breakdown')
  #footer
